:root{
    --fixed-width: 750px;
    --clr-gold: #c59d5f;
    --main-colorr:#443;
    --black : #13131a;
--primary-color:#d3ad7f;
--main-color:#2f2721
--clr-grey-10: hsl(210, 36%, 96%);
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    }
    html{
        font-family: "Times New Roman", Times, serif;
        scroll-behavior: smooth;
    }
  

        header{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 1000;
          background: white;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            padding: 1rem 7%;
              }
  
    .header .logo{
      color: rgb(0, 0, 0);
       
        font-size: 2rem;
    }
    .header .logo i{
        font-size: 2rem;
        padding-left: 2rem;
    }
.container{
    text-align: center;
    width: 100%;
    height: 100%;

}


.header .container .navbar a{
    font-size: 20px;
  text-decoration: none;
        padding: 0.4rem;
        margin: 3rem;

}


section{
    padding: 1rem 1%;
    }

.home{
    background-size: cover;
    display: flex;
min-height: 100vh;
width: 100%;
background-image: url("Image/menu0.jpg");
}

.home .row{
    display: flex;
align-items: center;
flex-wrap: wrap;
gap: 1.5rem;
}

.home .row .image{
    flex: 1 2 30rem;
}


.home .row .content h1{
    font-size: 3rem;
    color: white;
  
    text-transform: uppercase;
}

.menu .box-container{
    display: grid;
    gap: 1.5rem;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
}

.menu .box-container .box{
    padding: 1rem;
    text-align: center;
  
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
}
.menu .box-container .box img{
    height: 70%;
    width: 70%;
    
}
.menu .box-container .box h2{
    padding: 1rem 0;
}
.menu .box-container .box .price{
    font-size: 1.2rem;
padding: .5rem 0;
}

.menu .box-container .box:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}


.menu h1{
    text-align: center;
    font-size: 5rem;
   margin-bottom: 1rem;
   color: rgb(0, 0, 0);
}


/*  */

   
.about .row2{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.1rem;
}
.about .row2 .image{
    flex: 1 1 20rem;
}

.about .row2 .image img{
    width: 70%;
    animation: aboutImage 4s linear infinite;
}

.about .row2 .content{
    flex: 1 1 2rem;
    font-size: 1.4rem;
}

.about .row2 .content .title{
    color: var(--main-colorr);
line-height: 1.8;
}
.about .row2 .content p{
    line-height: 1.8;
    padding: 1rem 0;
}
.about h1{
    text-align: center;
    font-size: 5rem;
   margin-bottom: 1rem;
   color: rgb(0, 0, 0);
}
.about .row2 .content  p:hover{
    cursor: pointer;
    padding: 5rem;
    color: white;
 background-color: black; 
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

}   

.contact h1{
    text-align: center;
    font-size: 5rem;
   margin-bottom: 1rem;
color: black;
}


.contact{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    width: 70%;
    margin: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0c4210;
  }
  
  /*  */
  
  .footer{

  background-color:hsl(210, 36%, 96%);

    
}
.footer .foot-box{
    display: grid;
    gap: 1.5rem;
    margin-left: 21rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1rem));
}

.footer .foot-box .fbox h3{
    padding: 1rem 0;
    font-size: 1.5rem;
}


.footer .foot-box .fbox a{
    display: block;
    padding: 9px 0;
    color: rgb(0, 0, 0);
}

.footer .box-container .box a i{
    padding-right: .4rem;
}
.footer .foot-box .fbox a:hover i{
        padding-right: 2px;
}

    
  /*  */
  #menu-btn{
    font-size: 3rem;
   color: var(--main-color);
   cursor: pointer;
   display: none;
}
.underline {
    width: 15rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
  }

